
<app-header ></app-header>
<div class="flex flex-row sm:w-[880px] justify-between ">
    <main >
        <ul>
            
    <li *ngFor="let user of users">
        <app-user 
          [user]="user" 
          (select)="onSelectUSer($event)" [selected]="selectedUserId===user.id">
        </app-user>
      </li>
          
        </ul>
    </main>
    
    
     
        <div>
            <app-tasks *ngIf="selectedUser; else fallback"  [name]="selectedUser.name" [userId]="selectedUser.id"/>
     
          <ng-template #fallback> <p>select a user to see task</p></ng-template>
        </div>
     
</div>


